{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="{% static 'css/backtohome.css' %}">
</head>
<body>
    <div class="container">
        <div class="message-box">
            <h1>Thank you for your interest; we’ll be in touch soon.</h1>
            <a href="{% url 'index' %}" class="back-button">Back to Home</a>
        </div>
    </div>
</body>
</html>
